.hidden {
    display: none;
}

/* ! IMT */

/* * Form IMT */
form,
.card__info,
.card__result {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

form label {
    font-size: 26px;
}

/* * Card IMT */

.card__profile {
    height: 240px;
    margin-bottom: 64px;
}

.card__profile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form__header p,
.card__information p {
    font-size: 24px;
}

.form__header h2,
.info__imt h2,
.info__kategori h2 {
    font-size: 48px;
}

.info__kategori p span {
    font-weight: 600;
}

.card__information h2 {
    margin-bottom: 24px;
}

.card__information h3 {
    font-size: 32px;
}

.card__info h3 {
    font-size: 32px;
    margin-bottom: 12px;
}

.card__info p {
    margin-bottom: 12px;
    line-height: 1.4;
}

.card__info li {
    line-height: 1.5;
}

.card__info h4 {
    font-size: 24px;
    margin-bottom: 12px;
}

