@media (max-width: 1399.98px) {

    /* TODO */
    .container {
        width: 100%;
        margin: 0;
        padding: 0 calc(var(--gutter));
    }
}

@media (max-width: 1199.98px) {
    /* TODO */
}

@media (max-width: 991.98px) {
    /* TODO */
}

@media (max-width: 767.98px) {

    /* TODO */
    .container>.grid-row {
        gap: 24px;
    }

    .nav__content {
        display: none;
    }

    .nav__logo h1 {
        font-size: 16px;
    }

    .nav__mobile {
        display: flex;
    }

    h2 {
        font-size: 18px;
    }


    .cases__wrapper {
        border-radius: 24px;
    }

    label {
        font-size: 14px;
    }

    input::placeholder,
    select {
        font-size: 12px;
        height: 46px;
    }

    tr,
    .btn {
        font-size: 12px;
    }

    h1 {
        font-size: 32px;
    }

    .form__header h2,
    .info__imt h2,
    .info__kategori h2 h3 {
        font-size: 32px;
    }
    
    .card__info h3 {
        font-size: 24px;
    }
    
    .card__info h4 {
        font-size: 18px;
    }

    form label {
        font-size: 20px;
    }
}

@media (max-width: 575.98px) {
    /* TODO */
}